@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    overflow-x: hidden;
}

:root {
    --primary-color: #0D0D0D;
    --secondary-color: #95A986;
    --tertiary-color: #FFFFFF;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.title1 {
    font-size: 68px;
    font-weight: 700;
    color: var(--primary-color);
    font-family: "Amiri", serif;
}

.title2 {
    font-size: 45px;
    font-weight: 400;
    color: var(--primary-color);
    font-family: "Amiri", serif;
}

.title3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-color);
    font-family: "Amiri", serif;
}

.sub-title2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
}


.primary-btn {
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    background: var(--secondary-color);
    font-size: 18px;
    padding: 28px 39px;
    border-radius: 50px;
    margin: 0 auto;
}

.primary-btn:hover {
    background: var(--tertiary-color);
    outline: 1px solid var(--primary-color);
}

/* Header Starts */

.top-navbar {
    padding: 4.5px 0;
    background-color: var(--primary-color);
}

.top-bar-cnt {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--tertiary-color);
}

.nav-link {
    font-family: "Poppins", sans-serif;
    margin-left: 50px;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    transform: translateX(-50%);
    transform: scale(0);
    background: var(--tertiary-color);
}

.nav-link.active::after {
    transform: scale(1);
}

.nav-link:hover::after {
    transform: scale(1);
}

.search {
    margin-left: 56px;
}

.profile {
    margin-left: 16px;
}

.line {
    margin-left: 12px;
}

.nav-cart {
    margin-left: 12px;
}

.cart-text {
    font-family: "Poppins", sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: var(--tertiary-color);
    min-width: 150px;
    box-shadow: 0 8px 50px var(--secondary-color);
    z-index: 2;
    border-radius: 16px;
}

.dropdown-content a {
    color: var(--primary-color);
    padding: 12px;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Header Ends */

/* Banner Starts */

.blog-banner-section {
    background: url(../assets/about-banner-2.png) no-repeat center/cover;
    padding: 180px 0;
}

.blog-white-box {
    max-width: 470px;
    padding: 32px 100px;
    background: var(--tertiary-color);
    border-radius: 16px;
    margin: 0 auto;
}

.blog-banner-section .title1 {
    margin-bottom: 0;
}

/* Banner Ends */

/* Blog Starts */

.blog-section {
    padding: 100px 0;
}

.blog-card-1 {
    padding: 14px;
    background: var(--tertiary-color);
    box-shadow: 0 14px 60px var(--secondary-color);
    margin-bottom: 30px;
    border-radius: 15px;
}

.blog-card-1 img {
    width: 100%;
}

.blog-date {
    margin-right: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-hdr {
    font-family: "Amiri", serif;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 35px;
}

.card-desc {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
}

.date div {
    font-family: "poppins", sans-serif;
    font-size: 16px;
}

.learn-more {
    font-family: "poppins", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.lm {
    width: 12px !important;
}

/* Blog Ends */

/* Footer Starts */


footer {
    padding: 100px 0;
}

.footer-line {
    border: 1px solid var(--primary-color);
    width: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.offer-desc {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    max-width: 373px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.email-input {
    margin-bottom: 15px;
}

#email {
    border-radius: 50px;
    padding: 15px 23px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

footer .primary-btn {
    padding: 20px 45px;
    font-family: "Poppins", sans-serif;
}

.quick-links-topics li {
    margin-bottom: 15px;
}

.quick-links-topics a {
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.institutional-topics li {
    margin-bottom: 15px;
}

.institutional-topics a {
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.sm-icons {
    margin-right: 36px;
}

.long-line {
    border: 1px solid var(--primary-color);
    margin-top: 50px;
}

.ft-bt-cnt {
    margin-top: 21px;
    text-align: center;
}

.ft-bt-cnt-a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: var(--secondary-color);
}

/* Footer Ends */

/* Media Query */

@media screen and (max-width:1024px) {
    /* Footer Section */

    .sm-icons {
        margin-right: 10px;
    }
}

@media screen and (max-width:768px) {

    /* Banner Section */

    .nav-logo img {
        max-width: 200px;
    }

    /* Footer Section */

    .institutional,
    .social-media {
        margin-top: 30px;
    }

    footer .col-md-6 {
        text-align: center;
    }

    .footer-line {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .offer,
    .quick-links {
        margin-bottom: 30px;
    }

    .sm-icons {
        margin-right: 0;
    }
}

@media screen and (max-width:576px) {

    section,
    footer {
        padding: 50px 0 !important;
    }

    /* Banner Section */


    .blog-white-box {
        padding: 16px 50px;
        max-width: 300px;
    }

    .blog-banner-section .title1 {
        font-size: 50px;
    }

    /* Footer Section */

    .offer-desc {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:425px) {

    /* Banner Section */

    .nav-logo img {
        max-width: 150px;
    }

    .blog-white-box {
        padding: 10px 30px;
        max-width: 200px;
    }

    .blog-banner-section .title1 {
        font-size: 35px;
    }
}