@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    overflow-x: hidden;
}

:root {
    --primary-color: #0D0D0D;
    --secondary-color: #95A986;
    --tertiary-color: #FFFFFF;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.title1 {
    font-size: 68px;
    font-weight: 700;
    color: var(--primary-color);
    font-family: "Amiri", serif;
}

.title2 {
    font-size: 45px;
    font-weight: 400;
    color: var(--primary-color);
    font-family: "Amiri", serif;
}

.title3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-color);
    font-family: "Amiri", serif;
}

.sub-title2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
}


.primary-btn {
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    background: var(--secondary-color);
    font-size: 18px;
    padding: 28px 39px;
    border-radius: 50px;
    margin: 0 auto;
}

.primary-btn:hover {
    background: var(--tertiary-color);
    outline: 1px solid var(--primary-color);
}

/* Header Starts */


.top-navbar {
    padding: 4.5px 0;
    background-color: #0D0D0D;
    opacity: 97%;
}

.top-bar-cnt {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--tertiary-color);
}

.bottom-navbar {
    background: var(--primary-color);
}

.nav-link {
    font-family: "Poppins", sans-serif;
    margin-left: 50px;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    transform: translateX(-50%);
    transform: scale(0);
    background: var(--tertiary-color);
}

.nav-link.active::after {
    transform: scale(1);
}

.nav-link:hover::after {
    transform: scale(1);
}

.search {
    margin-left: 56px;
}

.profile {
    margin-left: 16px;
}

.line {
    margin-left: 12px;
}

.nav-cart {
    margin-left: 12px;
}

.cart-text {
    font-family: "Poppins", sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: var(--tertiary-color);
    min-width: 150px;
    box-shadow: 0 8px 50px var(--secondary-color);
    z-index: 2;
    border-radius: 16px;
}

.dropdown-content a {
    color: var(--primary-color);
    padding: 12px;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Header Ends */

/* Detail Starts */

.details-section {
    padding: 100px 0;
}

.detail-lg-img {
    margin-bottom: 32px;
}

.detail-lg-img img {
    width: 100%;
}

.details-hdr {
    font-family: "Amiri", serif;
    font-size: 60px;
    color: var(--primary-color);
}

.details-ratings {
    margin-bottom: 15px;
}

.det-reviews,
.details-para,
.details-para-2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.details-price {
    margin-top: 20px;
    margin-bottom: 20px;
}

.original-price {
    font-family: "Amiri", serif;
    font-size: 22px;
    font-weight: 700;
}

.past-price {
    font-family: "Amiri", serif;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: line-through;
}

.det-quantity {
    font-family: "Amiri", serif;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.det-quan-box {
    width: 165px;
    height: 51px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    padding: 6px;
    margin-bottom: 50px;
}

.left-sphere,
.right-sphere {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.det-btn .primary-btn {
    padding: 27px 200px;
    background: var(--secondary-color);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lists svg {
    margin-bottom: 25px;
}

.lists-items {
    font-family: "Amiri", serif;
    font-size: 18px;
    margin-bottom: 25px;
}



.d-d-line {
    border: 1px solid var(--primary-color);
    margin-bottom: 25px;
}


/* Detail Ends */

/* Details Bottom Starts */

.service-symbols {
    margin-bottom: 40px;
}

.symbols {
    margin-bottom: 32px;
}

.product-cards {
    padding: 20px 0;
}

.prod-card {
    margin-top: 40px;
}

.prod-card img {
    margin-bottom: 22px;
    width: 100%;
}

.star img {
    margin-bottom: 10px !important;
    margin-right: 3px;
    width: auto !important;
}

.prod-card p {
    margin-bottom: 6px;
    font-family: "Amiri", serif;
    font-size: 16px;
}

.prod-card-price {
    font-family: "Amiri", serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}

/* Details Bottom Ends */

/* Footer Starts */


footer {
    padding: 100px 0;
}

.footer-line {
    border: 1px solid var(--primary-color);
    width: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.offer-desc {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    max-width: 373px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.email-input {
    margin-bottom: 15px;
}

#email {
    border-radius: 50px;
    padding: 15px 23px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

footer .primary-btn {
    padding: 20px 45px;
    font-family: "Poppins", sans-serif;
}

.quick-links-topics li {
    margin-bottom: 15px;
}

.quick-links-topics a {
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.institutional-topics li {
    margin-bottom: 15px;
}

.institutional-topics a {
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.sm-icons {
    margin-right: 36px;
}

.long-line {
    border: 1px solid var(--primary-color);
    margin-top: 50px;
}

.ft-bt-cnt {
    margin-top: 21px;
    text-align: center;
}

.ft-bt-cnt-a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: var(--secondary-color);
}

/* Footer Ends */

/* Media Query */

@media screen and (max-width:1200px) {

    /* Details Section */

    /* .detail-lg-img img {
        width: 620px;
    }

    .sm-img img {
        width: 110px;
    } */

}

@media screen and (max-width:1024px) {

    /* Details Section */

    /* .detail-lg-img img {
        width: 80%;
        margin: 0 auto;
    } */

    .detail-sm-img {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .sm-img img {
        width: 100px;
    }

    .details-content {
        width: 90%;
    }

    .details-hdr {
        font-size: 45px;
    }

    .det-btn .primary-btn {
        padding: 18px 110px;
        font-size: 16px;
    }


    /* Footer Section */

    .sm-icons {
        margin-right: 10px;
    }
}

@media screen and (max-width:768px) {

    /* Footer Section */

    .institutional,
    .social-media {
        margin-top: 30px;
    }

    footer .col-md-6 {
        text-align: center;
    }

    .footer-line {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .offer,
    .quick-links {
        margin-bottom: 30px;
    }

    .sm-icons {
        margin-right: 0;
    }
}

@media screen and (max-width:576px) {

    section,
    footer {
        padding: 50px 0 !important;
    }

    /* Navbar Section */

    .nav-logo img {
        max-width: 150px;
    }

    /* Details Section */

    .detail-lg-img img {
        height: 380px !important;
    }

    .sm-lf-arrow svg {
        width: 25px;
        height: 25px;
    }

    .sm-rh-arrow svg {
        width: 25px;
        height: 25px;
    }


    .sm-img img {
        width: 60px;
    }

    .details-content {
        width: 100%;
        text-align: center;
    }

    .details-ratings {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .details-price {
        display: flex;
        justify-content: center;
    }

    .det-quantity {
        margin-top: 30px;
    }

    .det-quan-box {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .service-symbols {
        margin-bottom: 0;
    }


    /* Details Bottom Section */

    .details-bottom-section .prod-ratings {
        display: flex;
        justify-content: center;
    }

    .details-bottom-section p {
        text-align: center;
    }

    .details-bottom-section .prod-card-price {
        text-align: center;
    }

    /* Footer Section */

    .offer-desc {
        margin: 0 auto;
        margin-bottom: 20px;
    }

}

@media screen and (max-width:375px) {

    /* Details Section */

    .detail-lg-img img {
        height: 300px !important;
    }

}

@media screen and (max-width:320px) {

    /* Details Section */

    .sm-lf-arrow svg {
        width: 17px;
        height: 17px;
    }

    .sm-rh-arrow svg {
        width: 17px;
        height: 17px;
    }


    .sm-img img {
        width: 45px;
    }

}