@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    overflow-x: hidden;
}

:root {
    --primary-color: #0D0D0D;
    --secondary-color: #95A986;
    --tertiary-color: #FFFFFF;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.title1 {
    font-size: 68px;
    font-weight: 700;
    color: var(--primary-color);
    font-family: "Amiri", serif;
}

.title2 {
    font-size: 45px;
    font-weight: 400;
    color: var(--primary-color);
    font-family: "Amiri", serif;
}

.title3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-color);
    font-family: "Amiri", serif;
}

.sub-title2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
}


.primary-btn {
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    background: var(--secondary-color);
    font-size: 18px;
    padding: 28px 39px;
    border-radius: 50px;
    margin: 0 auto;
}

.primary-btn:hover {
    background: var(--tertiary-color);
    outline: 1px solid var(--primary-color);
}


/* Header Starts */

.top-navbar {
    padding: 4.5px 0;
    background-color: var(--primary-color);
}

.top-bar-cnt {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--tertiary-color);
}

.nav-link {
    font-family: "Poppins", sans-serif;
    margin-left: 50px;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    transform: translateX(-50%);
    transform: scale(0);
    background: var(--tertiary-color);
}

.nav-link.active::after {
    transform: scale(1);
}

.nav-link:hover::after {
    transform: scale(1);
}

.search {
    margin-left: 56px;
}

.profile {
    margin-left: 16px;
}

.line {
    margin-left: 12px;
}

.nav-cart {
    margin-left: 12px;
}

.cart-text {
    font-family: "Poppins", sans-serif;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70vh;
    width: 80vw;
    border-radius: 20px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-content {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border: none;
}

.modal:target {
    visibility: visible;
}

/* Header Ends */

/* Banner Starts */

.banner-section {
    background: url(../assets/banner.png) no-repeat center/cover;
    padding: 100px 0;
    min-height: 100vh;
}

.white-box {
    padding: 75px 60px;
    background: var(--tertiary-color);
    border-radius: 16px;
}

.banner-desc {
    max-width: 580px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    color: var(--secondary-color);
}

/* Banner Ends */

/* Product Starts */

.product-section {
    padding: 100px 0;
}

.prod-desc-1 {
    font-family: "Amiri", serif;
    font-size: 20px;
    max-width: 325px;
    margin-bottom: 6px;
    color: var(--secondary-color);
}

.prod-desc {
    font-family: "Amiri", serif;
    font-size: 20px;
    max-width: 325px;
    margin-bottom: 6px;
    color: var(--primary-color);
}

.star {
    margin: 20px 3px 10px 0;
}

.price {
    font-family: "Amiri", serif;
    font-size: 16px;
    color: var(--primary-color);
}

/* Product Ends */

/* Story Starts */

.story-section {
    padding: 100px 0 150px;
}

.story-image {
    position: relative;
    z-index: 1;
}

.small-image {
    position: absolute;
    z-index: 2;
    bottom: -56px;
    right: -97px;
    /* outline: 3px solid var(--tertiary-color); */
}

.story-para {
    max-width: 580px;
    margin-bottom: 30px;
}

.story-content .primary-btn {
    color: var(--primary-color);
    background: var(--secondary-color);
    font-size: 18px;
    padding: 16px 35px;
    border-radius: 50px;
    margin: 0 auto;
}

.story-content .primary-btn:hover {
    background: var(--tertiary-color);
    outline: 1px solid var(--primary-color);
}


/* Story Ends */

/* Service Starts */

.service-section {
    padding: 0 0 100px 0;
}

.service-symbols {
    margin-bottom: 40px;
}

.symbols {
    margin-bottom: 32px;
}

.service-desc {
    color: var(--secondary-color);
}

/* Service Ends */

/* New Product Starts */

.product-section-2 {
    background: #F6F6F6;
    padding: 100px 0;
}

/* New Product Ends */

/* Footer Starts */

footer {
    padding: 100px 0;
}

.footer-line {
    border: 1px solid var(--primary-color);
    width: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.offer-desc {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    max-width: 373px;
    margin-bottom: 15px;
    color: var(--secondary-color);
}

.email-input {
    margin-bottom: 15px;
}

footer .primary-btn {
    padding: 20px 45px;
    font-family: "Poppins", sans-serif;
}

.quick-links-topics li {
    margin-bottom: 15px;
}

.quick-links-topics a {
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.institutional-topics li {
    margin-bottom: 15px;
}

.institutional-topics a {
    color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.sm-icons {
    margin-right: 36px;
}

.long-line {
    border: 1px solid var(--primary-color);
    margin-top: 50px;
}

.ft-bt-cnt {
    margin-top: 21px;
    text-align: center;
}

.ft-bt-cnt-a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: var(--secondary-color);
}

/* Footer Ends */

/* Media Query */

@media screen and (max-width:1024px) {

    /* Product and New-Product */

    .pic-1,
    .pic-2 {
        margin-bottom: 40px;
    }

    .l-r-arrow {
        /* visibility: hidden; */
        display: none !important;
    }

    /* Story Section */

    .story-image {
        margin: 0 auto;
    }

    .story-content {
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }

    /* Footer Section */

    .sm-icons {
        margin-right: 10px;
    }
}

@media screen and (max-width:768px) {

    /* Banner Section */

    .title1 {
        font-size: 50px;
    }

    .title2 {
        font-size: 40px;
    }

    .nav-logo img {
        max-width: 200px;
    }

    .primary-btn {
        font-size: 16px;
    }

    .banner-section .primary-btn {
        padding: 16px 35px;
    }

    /* Story Section */

    .big-image img {
        max-width: 550px;
    }

    .small-image img {
        max-width: 280px;
        height: 300px;
        bottom: -20px;
        right: 20px;
        position: absolute;
    }




    /* Footer Section */

    footer .col-md-6 {
        /* display: flex; */
        /* justify-content: center; */
        text-align: center;
    }

    .footer-line {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .offer,
    .quick-links {
        margin-bottom: 30px;
    }

    .sm-icons {
        margin-right: 0;
    }

}

@media screen and (max-width:576px) {

    section,
    footer {
        padding: 50px 0 !important;
    }

    /* Story Section */

    .big-image img {
        max-width: 200px;
    }

    .small-image img {
        max-width: 120px;
        height: 130px;
        bottom: 30px;
        right: 55px;
        position: absolute;
    }


    /* Service Section */

    .shop,
    .saving {
        margin-bottom: 40px;
    }

    /* Product and Product-2 */

    .prod-pic {
        text-align: center;
        margin-bottom: 40px;
    }

    .product-content {
        margin: 0 auto;
        text-align: center;
    }

    .ratings {
        display: flex;
        justify-content: center;
    }

    .prod-desc,
    .prod-desc-1 {
        margin: 0 auto;
        text-align: center;
    }

    .pic-4 {
        margin-bottom: 0;
    }

    /* Footer Section */


    .offer-desc {
        margin: 0 auto;
    }

    footer .primary-btn {
        padding: 16px 35px;
    }

    .sm-icons {
        margin-left: 5px;
    }

}

@media screen and (max-width:425px) {

    .title2 {
        font-size: 30px;
    }

    /* Service Section */

    .service-desc {
        max-width: 170px;
    }
}

@media screen and (max-width:375px) {

    /* Product and Product-2 */

    .p-1 {
        max-width: 280px;
    }

    /* Service Section */

    .support {
        margin-bottom: 40px;
    }

}

@media screen and (max-width:320px) {

    /* Banner Section */

    .banner-section .primary-btn {
        padding: 16px 25px;
    }

    .story-section .primary-btn {
        padding: 16px 25px;
    }

    .arrow {
        max-width: 20px;
    }

}